@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    border: 0;
}
/* Para crear la estrucutra de los layouts */
.grid{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr; 
    grid-template-columns: 1fr 5fr; /* Dos columnas: lateral y contenido */
}
.cabecera {
    grid-column: 2; 
    grid-row: 1; 
    border-bottom: 2px solid rgba(239, 239, 239);
    margin-top: 2rem;
    width: 100%; /* Asegúrate de que ocupe todo el ancho de su celda */  
}

.full-width {
    grid-column: 1 / -1 !important; /* Ocupa todo el ancho */
}

.normal-width {
    grid-column: 2 !important; /* Valor por defecto */
}

.lateral {
   opacity: 1; /* Visible por defecto */
    grid-column: 1/2; /* Ocupa la primera columna */
    grid-row: 1/3; /* Comienza en la segunda fila */
    background-color: rgb(15, 23, 42);
    padding-top: 10%;
    padding-left: 10%;
    transition: opacity 0.5s ease-in-out; /* Transición suave para la opacidad */
}
.lateral.hidden {
   opacity: 0; /* Oculto */
   pointer-events: none; /* Desactiva interacciones cuando está oculto */
}

.menu {
   margin-left: 1%;
    grid-column: 2; /* Ocupa la segunda columna */
    grid-row: 2; /* Comienza en la segunda fila */
    margin-top: -5%;
    padding-left: 0%;
    margin-top: 1%;
    transition: grid-column 0.3s;
    transition: width 0.3s ease; /* Transición suave */
}

.pie {
    grid-column: 1 / -1; /* Ocupa ambas columnas */
    grid-row: 3; /* Tercera fila para el pie */
    border-top: 2px solid rgba(241, 245, 249 ) ;
}
/* cabecera */

.header-grid{
   padding-left: 4vw;
   padding-right: 4vw;
    padding-bottom: 2%;
    display: grid;
    grid-template-rows: auto ; 
    grid-template-columns:  1fr 5fr; 
}
.bars{
    grid-column: 1;
    grid-row: 1;
    padding: 2%;
}
.expand{
    grid-column: 4;
    grid-row: 1;
   
}

/* menu usuario */
.menu-grid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr;
    padding-top: 3vw;
    padding-left: -4%;
}
.usuarios-titulo{
    grid-column:1 ;
    grid-row: 1;
    color: rgb(15, 23, 42); 
    font-size: 150%;
    padding-left: 20%;
    padding-bottom: 15%;
    
}

.boton-nuevo{
    grid-column: 4;
    grid-row: 1;
    color: white;
    background-color: rgb(243, 62, 93);
    border-radius: 20rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 40%;
    font-size: 1rem ;
    margin-top: 1rem;
    margin-right: 7rem;

    
}
.boton-exportar {
   grid-column: 4;
   grid-row: 2;
   color: white;
   background-color: rgb(243, 62, 93);
   border-radius: 25rem;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20%;
   margin-left: -13%;
   height: 25%;
   font-size: 1rem;
   margin-top: 10rem;
   margin-bottom: 3%;
}gri
.icono-descargar{
   padding-right: 10%;
}
.filtrados-menu{
   display: flex;
  flex-wrap: wrap;
  grid-column: 1/5;
  grid-row: 2;
  padding-bottom: 1rem;
  padding-top: 2rem;
  background-color: rgba(241, 245, 249 );
}
#filtrados:first-of-type{
   margin-left: 0%;
}
#filtrados{
   margin-left: 5%;
}
#filtrados input{
   height: 3rem;
   border-radius: 5px;
   display: flex;
   align-items: center;
   border:1px solid black;
   background-color: rgba(239, 239, 239, 0.5);
   padding: 4%;
}
.descatalogados-filtrar{
   display: flex;
   align-items: center;
}
.lista-menu{
    grid-column: 1/5;
    grid-row: 3/5;
    background-color: rgba(241, 245, 249 );
    padding: 1vw 0vw 1vw 0vw;
    
}
/* tabla  usuarios */
 table{
    background-color: white;
    width: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2); /* Sombra en el lado izquierdo y debajo */
 }
 td,th{
   font-size: 1rem;
    text-align: center;
    padding: 2% 0%;
    border-bottom: 1px solid rgba(239,239,239);

 }
 th{
  color: rgb(101, 126, 156);
 }
 td:hover, #foco:hover {
   background-color: rgba(239, 239, 239, 0.5);
}
 /* iconos de editar y borrar */
 .delete,.edit{
    margin-left: 10px;
 }
 /* paginaciñón*/

 .pagination{
   display: flex;
    grid-column: 1 / 5;
    grid-row: 5;
    background-color: rgba(241, 245, 249);
    justify-content: center;
 }
.pagination button{
   border-radius:2rem;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   margin: 2%  1%;
   width: 5rem;
   padding: 1%;
}
.pagination div{
   display: flex;
   justify-content: center;
   border-radius: 2rem;
   border: 2px solid black;
   margin: 2% 1%;
   width: 8rem;
   padding: 1%;
}
 .pagination button:hover{

   background-color: rgb(243, 62, 93)
}

.leyenda-descatalogados {
   background-color: rgba(241, 245, 249 );
   grid-column: 1/5;
   grid-row: 6;
   font-size: 0.9rem;
   color: #666; 
   padding-left: 1rem;
   display: flex;
   align-items: center; 
   padding-bottom: 2rem;
}

.color-cuadro {
   width: 1rem; 
   height: 1rem;
   background-color: rgba(243, 62, 93, 0.3); 
   border: 2px solid rgb(243, 62, 93);
   margin-right: 0.5rem; 
border-radius: 2px; /* Bordes redondeados (opcional) */
}
 
 /* lateral */
 .side-grid{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    padding-right: 0rem; 
 }
 .user-side{
   width: 4rem;
   grid-column: 2;
   grid-row: 1 / 5;
   display: flex;
   align-items: center;
   justify-content: flex-start;
 }
 .icono-user{
    color: rgb(126, 126, 126);;
 }
 .imagen-side{
    grid-column: 1;
    grid-row: 1/5;  
    margin-bottom: 1.25rem;
    width: 50%;
 }
 #imagen-side{
   max-width: 100%;
   height: auto;
 }
 .nombre-side{
   display: flex;
    grid-column: 1;
    grid-row:6;
    color: rgba(241, 245, 249 );
    font-size: 1rem;
    height: 2rem;
    align-items: center;
 }
 .correo-side{
   display: flex;
    grid-column: 1;
    grid-row: 7;
    padding-top: 1.25rem;
    color: rgb(101, 126, 156);
    font-size: 1rem;
    height: 2rem;
    align-items: center;
 }
 .principal-side{
   display: flex;
    grid-column: 1;
    grid-row: 8;
    color: rgb(243, 62, 93);
    font-size: 1rem;
    height: 2rem;
    margin-top: 1.5rem;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .asociados-side{
   display: flex;
   height: 2rem;
    grid-column: 1;
    grid-row: 9;
    margin-top: 1.25rem;
    font-size: 0.9rem;
    color: rgba(241, 245, 249 );
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .remesas-side{
   display: flex;
    grid-column: 1;
    grid-row: 10;
    height: 2rem;
    margin-top: 1.25rem;
    font-size: 0.9rem;
    color: rgba(241, 245, 249 );
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 }
 .icono-asociados,.icono-remesas{
    margin-right: 5%;
 }
 .administracion-side{
   display: flex;
    grid-column: 1;
    grid-row: 11;
    margin-top: 1.25rem;
    height: 2rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    color: rgb(243, 62, 93);
 }
 .gestion-usuarios{
   display: flex;
    grid-column: 1;
    grid-row: 12;
    height: 2rem;
    margin-top: 1.25rem;
    font-size: 0.9rem;
    color: rgba(241, 245, 249 );
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 /* ventana modal de modificar/añadir */
 .modal{
   display: none;
   position: fixed;/*Se posiion fijo en la pantalla*/
   z-index: 1000; /*Estará por encima de otros elementos*/
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */;
 }
 .modal-content{
   background-color: white;
   margin: 5% auto 0% auto;
   padding: 5%;
   border: 5px solid black;
   width: 100%;
   height: 85%;
   max-width: 400px;
   border-radius: 40px;
 }
  /*Formulario de modificar( ventana modal)*/
  #formModificar, #formAñadir{
   margin-top: 15%;
   display: flex;
   flex-direction: column;
   gap: 10px;/* Espacio entre los elementos*/
   max-width: 200px;
 }
 #formModificar input,#formAñadir input{
   border: 1px solid #888;
 }
 .btn{
   margin-top: 5%;
   background-color:rgba(239, 239, 239, 0.5);
   width: 100%;
   height: 2rem;
   border-radius: 10px;
 }
 .color-rojo{
   background-color: rgba(255, 0, 0,0.2);
 }
 /*Ventana modal informativa*/
 .modalInformativa{
   display: none;
   justify-content: center;
   align-content: center;
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
 }
 .modal-content-informativa{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30%;
   height: 10%;
   padding: 3%;
   margin: 20% auto;
   border: 2px solid black;
   border-radius: 2rem;
   background-color: rgba(0, 0, 0, 0.5);
   font-size: 1rem;
   color: black;
 }
 .fondo-verde{
   background-color: rgba(0, 248, 37,0.5);
 }
 .fondo-rojo{
   background-color: rgba(255, 0, 0,0.5);
 }
 
  /* media queries para dispotivos moviles ( hasta 480px)*/
  @media (max-width:480px){
   .grid{
      grid-template-columns: 1fr;
      grid-template-rows: auto;
   }
   
   .usuarios-titulo{
      font-size: 1.5rem;
   }
   .boton-nuevo{
      height: 40%;
      width: 50%;
      margin-left: 40%;
   }
   table {
      display: flex; /* Cambiar a bloque */
      overflow-x: auto; /* Habilitar scroll horizontal si es necesario */
     flex-direction: column;
     align-items: center;
     flex-wrap: wrap;
  }

  thead {
      display: none; /* Ocultar el encabezado */
  }

  tr {
      display: block; /* Cada fila como bloque */
      margin-bottom: 10px; /* Espaciado entre filas */
  }

  td {
      display: flex; /* Flexbox para una mejor presentación */
      justify-content: space-between; /* Espacio entre los elementos */
      border: none; /* Quitar el borde */
      padding: 10px 0; /* Espaciado */
  }
  td::before {
   content: attr(data-label); /* Usar el atributo data-label para mostrar el nombre de la columna */
   flex-basis: 50%; /* Ancho de la etiqueta */
   font-weight: bold; /* Negrita para distinguir */
   
}
th{
   display: none;
}
.imagen-side{
   
   width: 50%;
   height: 5rem;
}
.user-side{
   padding-right: 100%;
   margin-top: -3rem;
   margin-left: -2rem;
}
.asociados-side,.correo-side,.nombre-side,.principal-side,.administracion-side,.gestion-usuarios,.remesas-side{

   font-size: 0.75rem;
}
.side-grid{
   padding-right: 2rem;
}
.pie{
   grid-column: 1 / 5;
   grid-row: 3;
}
.lateral{
   display: none;
}
.boton-exportar{
   margin-left: 45%;
   width: 40%;
    margin-bottom: 20%;
}
 } 
 
