html{
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    list-style: none;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar {
    width: 20%;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.navbar .imagenes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #ddd;
}

.navbar img.logo {
    width: 20%;
    margin-bottom: 20px;
}

.user-info p{
    text-align: center;
    color: #ddd;
}

.user-info p:first-child{
    color: #fff;
}

.menu{
    width: 80%;
    padding: 20px;
}

.menu ul{
    color: #DB313A;
}

.menu li{
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: #ddd;
}

.menu li span:first-child{
    padding-right: 20px;
}

.menu li:hover{
    background-color: #273646;
    color: #fff;
    cursor: pointer;
}

header {
    width: 80%;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

header span {
    padding: 20px;
}

#header-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
    background-color: #f4f4f4;
    padding: 20px;
}

.contenido {
    flex: 1;
    background-color: #ddd;
    width: 100%;
    margin-top: 70px;
}

.tabla{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    background-color: #fff;
}

#header-tabla,
.fila {
    display: flex;
}

#header-tabla p,
.fila div {
    flex: 1;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.fila div {
    text-align: left;
}

.fila div img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    width: 8%;
}

.fila div:last-child {
    display: flex;
    align-items: center;
}

button {
    background-color: #DB313A;
    color: white;
    border: none;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;

    cursor: pointer;
    border-radius: 30px;
}
